.App {
  margin: auto auto;
}
.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #2f2f2f; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}