@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,200i');
html,body,#root{
  height: 100%;
}
#root{
  height: 100%;
  text-align: center;
  padding: 8px;
  display: flex;
  align-items: center;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans',sans-serif;
}
.text-input{
  width: inherit;
  border: none;
  text-align: center;
  border-bottom: 2px solid #2f2f2f;
}
.cell{
  padding: 4px;
  text-align: center;
}
.cell:focus{
  outline-color: #2f2f2f;
  outline-width: 4px; 
}
.text-input:focus {
  outline: none;
  border-bottom: 3px solid #2f2f2f;
}
.button{
  border: 2px solid #2f2f2f;
  background-color: transparent;
  transition: background-color 0.1s;
  margin: 4px;
}

.button:hover{
  background-color: #2f2f2f;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li{
  margin: 10px 0;
}

h1,h2{
  margin: 5px;
}